{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ course.content_url }}" allowfullscreen></iframe>
        </div>
    </div>
    <hr>
    <div class="row">
        <p>
            <a href="{{ url_for('assessment', coursename=course.name) }}" class="btn btn-primary" style="float:right;">Take Quiz</a>
        </p>
    </div>
    <hr>
</div>

{% endblock %}
 